/*gehele pagina */

* {
   
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 10px;
   font-family: sans-serif;
   color: rgb(19, 17, 17);
}

body {
   width: 100%;
   height: 100%;
   background-color: solid white;
   /* background: url("/images/black-white-dot.jpg") no-repeat center fixed; */
   background-size: cover;
   transition: background 0.8s linear;
}



section {
   padding: 6rem 0;
}

a {
   text-decoration: none;
   color: rgb(17, 17, 17);
}

p {
   font-size: 1.8rem;
   font-weight: 300;
}

img {
   width: 80%;
}
/*gehele pagina - einde*/


/* header */
header {
   width: 100%;
   height: 100vh;
}

.landing-page {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate( -50%, -50%);
   width: 100%;
   text-align: center;
   z-index: 1;
   
}

.landing-page h1 {
   font-size: 10rem;
   font-family: sans-serif;
   background: linear-gradient(to top,rgb(115, 213, 207), rgb(2, 13, 109));
   -webkit-background-clip: text; /* deze 2 zorgen ervoor dat de achtergrond kleuren enkel op de text zichtbaar zijn */
   -webkit-text-fill-color: transparent;
   padding: 1rem;
   user-select: none;
}

.landing-page h6 {
   font-size: 4rem;
   font-weight: 300;
}



/* einde header */

/* dark-light mode toggler */
.label {
   background-color: rgb(115, 213, 207);
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-radius: 50px;
   height: 26px;
   width: 50px;
   position: relative;
   padding: 5px;
   margin-top: 30px;
   margin-left: 30px;
}

#moon {
   color: #f1c40f;
   height: 20px;
   width: 20px;
}

#sun {
   color: #f39c12;
   height: 20px;
   width: 20px;
}

.toggler {
   height: 22px;
   width: 22px;
   background-color: #fff;
   position: absolute;
   top: 2px;
   left: 2px;
   border-radius: 50%;
   transition: transform 0.3s linear;
}

.dark-light {
   opacity: 0;
   position: absolute;
}

.dark-light:checked + .label .toggler {
   transform: translateX(24px);
}

.dark-light:checked + .label {
   background-color: black;
}






/* dark-light mode toggler einde */

/* navigatie bar*/
.top-nav {
   width: 100%;
   height: 100vh;
   position: fixed;
   z-index: 50;
   background-color:rgb(115, 213, 207);
   top: -100vh; /* zo dat de nav niet zichtbaar is totdat hij word geopend */
   border-bottom-left-radius: 100%;
   border-bottom-right-radius: 100%;
   transition: all 650ms cubic-bezier(1, 0, 0, 1);
}

.nav-list {
   list-style: none;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

li {
   margin: 0 2rem;
}

.nav-link {
   font-family: sans-serif;
   font-size: 5rem;
   padding: 1rem;
}

.nav-link:hover,
.nav-link:focus {
   background: linear-gradient(to top,rgb(115, 213, 207), rgb(32, 39, 107));
   -webkit-background-clip: text; /* deze 2 zorgen ervoor dat de achtergrond kleuren enkel op de text zichtbaar zijn */
   -webkit-text-fill-color: transparent;
}

.top-nav.open {
   top: 0;
   border-radius:initial;
}

.menu-toggler {
   position: absolute;
   top: 5rem;
   right: 5rem;
   width: 5rem;
   height: 4rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   cursor: pointer;
   z-index: 1500; /* zorgt ervoor dat het menu over alles verschijnt */
   transition: transform 650ms ease-out;

}

.menu-toggler .open {
   transform: rotate(-45deg);

}

.bar {
   background: linear-gradient(to right,rgb(115, 213, 207), rgb(32, 39, 107));
   width: 100%;
   height: 4px;
   border-radius:  .8rem;
}

.bar.half {
   width: 50%;
}

.bar.start {
   transform-origin: right;
transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start {
transform: rotate(-450deg) translateX(.8rem);
}

.bar.end {
   align-self: flex-end;
   transform-origin: left;
   transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
   }

.open .bar.end {
   transform: rotate(-450deg) translateX(-.8rem);
}

/* navigatie bar - einde*/

/* about */

.about {
   background-color: rgb(115, 213, 207, 0.2);
}
.about .container{
display: flex;
align-items:  center;
justify-content: center;

}

/* .about-heading h1 {
   font-size: 10rem;
   opacity: .3;
}

.about-heading {
   text-align: center;
   text-transform: uppercase;
   line-height: 0;
   margin-bottom: 6rem;
} */

.profile-img {
   flex: 1;
   margin-right: 3rem;
}

.about-text {
   flex: 1;
}

.about-text p{
   margin-top: 2rem;
}




/* about - einde */

/* sections */

.container {
   width: 90%;
   max-width: 120rem;
   height: 100%;
   margin: 0 auto;
   position: relative;
}

.section-heading {
   text-align: center;
   color: black;
   margin-bottom: 10rem;

}

.section-heading h1 {
   font-size: 3.5rem;
   color:rgb(115, 213, 207);
   opacity: .5;
   text-transform: uppercase;
   font-weight:  300;
   position: relative;
   margin-bottom: 1rem;
}

.section-heading h6 {
   font-size: 2rem;
   font-weight:  300;
}

.section-heading h1::before,
.section-heading h1::after {
   content: '';
   position: absolute;
   bottom: -.5rem;
   left: 50%;
   transform: translateX(-50%);
   background-color:rgb(172, 20, 20);
}

.section-heading h1::before {
   width: 10rem;
   height: 3px;
   border-radius: .8rem;
}

.section-heading h1::after {
   width: 1.5rem;
   height: 1.5rem;
   border-radius: 100%;
   bottom: -1rem;
}
 /* sections -einde */

 /* experience */

.timeline ul {
   border-left: 4px solid rgb(29, 29, 1);
   
   background-color: rgb(18, 18, 156) .2;
   margin: 0 auto;
   position: relative;
   padding: 5rem;
   list-style: none;
   text-align: left;
   width: 70%;
}

.timeline h1 {
   font-size: 2rem;
   text-transform: uppercase;
   font-weight: 300;
   margin-bottom: 1rem;
   opacity: .3;

}

.timeline .date {
   border-bottom: 1px solid rgb(165, 29, 29) .01;
   
   margin-bottom: 1rem;
   padding-bottom: 1rem;
   position: relative;
}

.timeline .date:last-of-type {
   padding-bottom: 0;
   margin-bottom: 0;
   border:none;
}

.timeline .date::before,
.timeline .date::after {
   position: absolute;
   display: block;
   top: 50%;
   transform: translateY(-50%);
}

.timeline .date::before {
   content: attr(data-date);
   left: -21rem;
   text-align: right;
   min-width: 12rem;
   font-size: 1.5rem;
}

.timeline .date::after {
   content: '';
   box-shadow: 0 0 0 4px rgb(126, 11, 30);
   border-radius: 100%;
   left: -8rem;
   height: 1.5rem;
   width: 1.5rem;
   background-color: rgb(126, 5, 25);
}

/* experience -einde */

/* contact */
.contact {
   background-color:rgb(115, 213, 207, 0.2);

}



form {
   width: 70%;
   margin: 0 auto;
}

form label {
   font-size: 1.5rem;
}

#name,#email,
select,
textarea {
   width: 100%;
   margin-bottom: 5px;
   padding: 1rem;
   
   outline-color: solid black;
}

input[type = "submit"] {
   width: initial;
   
   background-color: rgb(115, 213, 207);
   padding: 1rem;
   border-radius: .8rem;
   cursor: pointer;
   transition: background-color 650ms;
}

input[type = "submit"]:hover {
   color: rgb(115, 213, 207);
   background-color:solid black;
}

/* contact -einde */


/* footer */

.copyright {
   width: 100%;
   text-align: center;
   background-color:rgb(115, 213, 207);
   padding: 2rem 0;
   position: relative;
}

.up {
   position: absolute;
   width: 5rem;
   height: 5rem;
   background-color: rgb(115, 213, 207);
   top: -2.5rem;
   border-radius: 100%;
   right: 5rem;
   display: flex;
   animation: pulse 2s infinite;
   cursor: pointer;
}

.up i {
   color:rgb(15, 15, 15);
   font-size: 3rem;
   margin: auto;
   
}

.copyright p {
   font-size: 1.4rem;
}

#offset-heading h1{
   color: rgb(172, 20, 20);
}

#offset-heading h1::before,
#offset-heading h1::after {
   content: '';
   position: absolute;
   bottom: -.5rem;
   left: 50%;
   transform: translateX(-50%);
   background-color: rgb(115, 213, 207);
}

#offset-heading h1::before {
   width: 10rem;
   height: 3px;
   border-radius: .8rem;
}

#offset-heading h1::after {
   width: 1.5rem;
   height: 1.5rem;
   border-radius: 100%;
   bottom: -1rem;
}

@keyframes pulse {
   0% {
      box-shadow: 0 0 0 0 rgba(172, 20, 20, 0.99);
   }
   70% {
      box-shadow: 0 0 0 2rem rgba(253,87, 191, 0);
   }
   100% {
      box-shadow: 0 0 0 0 rgba(172, 20, 20, 0);
   }
}


/* footer -einde */

/* media queries */

@media screen and (max-width: 768px) {
   body {
      background: url("/images/so-white.png") no-repeat center fixed;
      background-size: cover;
   }

   .landing-page h1 {
      font-size: 15rem;
   }
   .landing-page h6 {
      font-size: 1.7rem;
   }

   .nav-list {
      flex-direction: column;
   }

   li {
      margin: 2rem 0;
   }

   .nav-link {
      font-size: 4.5rem;
   }

   .about-header h1 {
      font-size: 8rem;
   }

   .section-heading h1 {
      font-size: 3rem;
   }

   .about-text .nav-list {
      flex-direction: initial;
   }

.timeline ul {
   margin: 0 0 0 auto;
}

.timeline .date::before {
   left: -20rem;
}

.timeline .date::after {
   left: -5.9rem;
}



}

@media screen and (max-width: 600px) {

   .menu-toggler {
      top: 2rem;
      right: 2rem;
   }

   .landing-page h1{
      font-size: 8rem;
   }

   .landing-page h6{
      font-size: 1.4rem;
   }

   .nav-link {
      font-size: 3.5rem;
   }

   .about .container {
      flex-direction: column;
      
   }

   .profile-img {
      margin: 0 0 7rem 0;
   }

   .timeline p {
      font-size: 1.6rem;
   }

   .timeline .date::before{
      font-size: 1.4rem;
   }

   form {
      width: 100%;
   }

   .up{
      right: 2rem;
   }
}


/* dark toggle classes */
body.dark {
   background-color: #292C35;
}

 #offset-heading.dark h1{
   color: rgb(115, 213, 207);
}





#offset-heading.dark h1::before,
#offset-heading.dark h1::after {
   background-color: rgb(172, 20, 20);
}


/* dark toggle classes einde */